<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.CloseChrome()[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:05:42</td>   <td>-113166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.Consultamisiones()[pri:23, instance:test.Test14Misiones@4ee5b2d9]">Consultamisiones</td> 
  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:07:01</td>   <td>-34231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.EliminarMisiones()[pri:25, instance:test.Test14Misiones@4ee5b2d9]">EliminarMisiones</td> 
  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:04:59</td>   <td>-155538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test14Misiones.IngresoAmbiente()[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:05:41</td>   <td>-114343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:06:19</td>   <td>-75830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:06:59</td>   <td>-35468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:07:34</td>   <td>-1235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@4ee5b2d9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:06:20</td>   <td>-74675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.crearMisiones()[pri:24, instance:test.Test14Misiones@4ee5b2d9]">crearMisiones</td> 
  <td>main@256522893</td>   <td></td> </tr>
<tr bgcolor="9175d9">  <td>19/09/18 12:05:09</td>   <td>-146201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.misiones()[pri:22, instance:test.Test14Misiones@4ee5b2d9]">misiones</td> 
  <td>main@256522893</td>   <td></td> </tr>
</table>
